@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
  margin: 0
  padding: 0
  box-sizing: border-box
  background: none
  border: none
  outline: none
  list-style: none
  text-decoration: none
  font-family: 'Lato', sans-serif

// $main: #096AE0
// $pri: #3B1485
$main: #4CA1AF
$pri: #2C3E50
$bg: #DDE6F2
$light: #FFFFFF
$dark: #000000
$para: #525252

@mixin grid($columns)
  display: grid
  grid-template-columns: $columns
  grid-gap: 20px

@mixin flex($justify)
  display: flex
  justify-content: $justify
  align-items: center

@mixin image()
  background-size: cover
  background-position: center
  background-repeat: no-repeat

@mixin trans()
  transition: 0.45s cubic-bezier(0, 0, 0, 1)

@mixin dark()
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

@mixin button()
  padding: .6rem 1.5rem
  font-size: 18px
  border: 1px solid $main
  box-shadow: 0 0 0 3em $main inset
  color: $light
  transition: .4s

  &:hover
    box-shadow: 0 0 0 0em $main inset
    color: $main
    cursor: pointer

section
  margin-top: 4rem

  &.bg
    padding: 3rem 0
    background-color: $pri
  
  &.linear
    padding: 3rem 0
    background: linear-gradient(90deg, $main, $pri)

p
  font-size: 18px
  color: $para
  font-weight: 400

.name
  font-size: 24px

.title
  text-align: center
  @include flex($justify: center)
  margin-bottom: 3rem
  flex-direction: column

  h1
    font-size: 36px
    font-weight: 400
    max-width: 800px
    width: 100%
    margin-bottom: 1rem

  p
    max-width: 800px

.wrapper
  max-width: 1300px
  margin: 0 auto
  padding: 0 20px

.side-nav
  display: none

/**********   header   **********/
header
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 20
  @include trans()

  &.sticky
    position: fixed
    top: 0
    background-color: $light
    animation: sticky 1s ease-in-out
    box-shadow: 0 4px 10px rgba($dark, .1)

    .nav-bar
      .side-nav-btn
        .bars
          background-color: $dark

          &::after
            background-color: $dark

          &::before
            background-color: $dark

      .nav-links
        li
          color: $dark

          &:hover
            background-color: rgba($pri, .1)

  @keyframes sticky 
    from
      top: -150px

    to
      top: 0

  nav
    max-width: 1300px
    margin: 0 auto
    padding: 0 20px

  .nav-bar
    @include flex($justify: space-between)
    
    .logo
      height: 80px
      width: 120px
      @include flex($justify: center)

      .img
        height: 90%
        width: 90%
        @include image()
        background-size: contain

    .nav-links
      @include flex($justify: flex-end)

      li
        font-size: 18px
        padding: 1rem
        color: $light
        border-radius: 15px
        cursor: pointer

        &:hover
          background-color: rgba($light, .2)

        &.drop-down
          @include flex($justify: center)
          position: relative

          &:hover
            .drop
              opacity: 1
              pointer-events: auto
              top: 50px

          .drop
            position: absolute
            left: 50%
            top: 20px
            transform: translateX(-50%)
            padding: 1rem .5rem
            background-color: $light
            box-shadow: 0 0 10px rgba($dark, .1)
            border-radius: 15px
            z-index: 10
            opacity: 0
            pointer-events: none
            @include trans()

            li
              padding: .7rem 1rem
              color: $dark

              &:hover
                background-color: rgba($pri, .1)
          
          i
            margin-left: 6px
            font-size: 12px

      button
        @include button()
        margin-left: 2rem

    .side-nav-btn
      display: none

/**********   banner   **********/
.banner
  .swiper-slide
    @include image()
    width: 100%
    height: 600px
    @include flex($justify: center)

    &.swiper-slide-active
      .wrapper
        .details
          h1
            transform: translateX(0)
            opacity: 1

          button
            ransform: translateY(0)
            opacity: 1

        .image
          width: 100%
          opacity: 1

    &::after
      content: ''
      @include dark()
      background-color: rgba($pri, .78)
      z-index: 1
    
  .wrapper
    position: relative
    z-index: 2
    @include flex($justify: center)
    @include grid($columns: 1fr 1.5fr)
    margin-top: 2rem
    
  .details
    color: $light

    h1
      font-size: 48px
      font-weight: 300
      margin-bottom: 4rem
      transform: translateY(-100px)
      opacity: 0
      transition-delay: .5s
      transition-duration: 1s

    button
      font-size: 24px
      color: $light
      @include flex($justify: flex-start)
      cursor: pointer
      ransform: translateY(100px)
      opacity: 0
      transition-delay: 1s
      transition-duration: 1s

      &:hover
        .icon
          transform: translateX(10px)

      .icon
        height: 24px
        width: 24px
        @include flex($justify: center)
        margin-left: 5px
        @include trans()

        img
          width: 100%

  .image
    height: 400px
    width: 20%
    opacity: 0
    transition-delay: 1.5s
    transition-duration: 1s

    .img
      height: 100%
      width: 100%
      @include image()
      background-size: contain
        
/**********   application   **********/
.application
  .list
    @include grid($columns: 1fr 1fr 1fr)
    
    .item
      padding: 1rem
      border-radius: 15px

      &:hover
        background-color: rgba($pri, .1)

      .icon
        height: 100px
        width: 100px
        border-radius: 50%
        background-color: $light
        box-shadow: 0 4px 4px rgba($dark, .25)
        @include flex($justify: center)
        margin-bottom: 1rem

        img
          width: 60%

      .details
        .name
          margin-bottom: 1rem

/**********   detection   **********/
.detection
  @include grid($columns: 1fr 4fr 2.5fr)

  .buttons-list
    ul
      @include flex($justify: center)
      align-items: flex-start
      flex-direction: column

      li
        font-size: 24px
        color: $light
        padding: .5rem 1.5rem .5rem 0
        margin-bottom: 1rem
        position: relative
        display: inline-block
        cursor: pointer

        &.active
          &::after
            width: 100%


        &::after
          content: ''
          position: absolute
          left: 0
          bottom: 0
          height: 2px
          width: 0
          background-color: $light
          @include trans()

  .image-list
    .image
      height: 400px
      width: 100%
      @include image()
      border-radius: 15px

  .object-detection-list
    ul
      margin-bottom: 1.5rem

      li
        font-size: 18px
        color: $light
        margin-bottom: 6px

        &.heading
          font-size: 18px
          text-transform: uppercase
          margin-bottom: .7rem

        .key
          color: #00FFFF

        .value
          color: #FF0000
          margin-left: 7px

      
/**********   how-we-work   **********/
.how-we-work
  margin-bottom: 1rem
  .list
    @include grid($columns: 1fr 1fr 1fr 1fr)
    position: relative

    &::before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%) rotate(90deg)
      height: 20px
      width: 20px
      background-color: $main
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      z-index: 2
      animation: arrowMove 5s ease-in-out infinite

    &::after
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      height: 4px
      width: 100%
      background: linear-gradient(90deg, $main, $pri)
      z-index: 1

    .item
      @include flex($justify: center)
      flex-direction: column
      padding: 0 1rem

      .icon
        height: 100px
        width: 100px
        margin-bottom: 3rem
        @include flex($justify: center)

        img
          width: 90%

      .name
        font-size: 20px
        height: 100px
        text-align: center
        font-weight: 600
  
  @keyframes arrowMove 
    from
      left: 0
      background-color: $main

    to
      left: 99%
      background-color: $pri
  
/**********   company-informations   **********/
.company-informations
  .list
    @include grid($columns: 1fr 1fr 1fr)
    
    .item
      @include flex($justify: center)
      flex-direction: column
      text-align: center
      color: $dark

      h4
        font-size: 18px
        margin-bottom: 2px

      h5
        font-size: 18px
        font-weight: 300

      h1
        font-size: 60px
        font-weight: 600

/**********   footer   **********/
footer
  background-color: $pri
  margin-top: 5rem
  padding: 3rem 0

  .wrapper
    @include grid($columns: 1fr 1fr 1fr 1fr)
    
    .item
      color: $light

      h3
        font-size: 24px
        font-weight: 600
        text-transform: uppercase
        margin-bottom: 1.5rem

      .logo
        height: 80px
        width: 180px
        @include flex($justify: center)
        
        img
          width: 100%

      p
        color: $light
        font-weight: 300

      .social-links
        @include flex($justify: flex-start)
        
        .icon
          height: 40px
          width: 40px
          border-radius: 50%
          border: 1px solid $light
          box-shadow: 0 0 0 3em $light inset
          color: $pri
          @include flex($justify: center)
          transition: .4s
          margin-right: 15px
          font-size: 18px

          &:hover
            box-shadow: 0 0 0 0em $light inset
            color: $light

      ul
        li
          font-size: 18px
          color: $light
          line-height: 1rem
          padding: .5rem 1rem

          &:hover
            background-color: rgba($light, .1)

/**********   page-banner   **********/
.page-banner
  min-height: 400px
  width: 100%
  @include image()
  position: relative
  @include flex($justify: flex-start)

  &::after
    content: ''
    @include dark()
    background-color: rgba($pri, .71)
    z-index: 1

  .wrapper
    width: 100%
    height: 100%

  .page-title
    position: relative
    z-index: 2
    @include flex($justify: center)
    flex-direction: column
    align-items: flex-start
    height: 100%
    width: 100%

    &.about-page-title
      h1
        max-width: 1200px
        margin-top: 4rem
        margin-bottom: 1rem

        span
          font-size: 28px

    h1
      margin-top: 4rem
      font-size: 64px
      max-width: 470px
      width: 100%
      font-weight: 400
      color: $light
      text-align: left

/**********   our-mission   **********/
.our-mission
  .teams-list
    @include grid($columns: 1fr 1fr 1fr 1fr)
    
    .item
      position: relative
      height: 350px
      width: 100%
      margin-bottom: 5rem

      &:hover
        .details
          top: 98%
          transform: translate(-50%, -50%) scale(1.04)

      .image
        height: 100%
        width: 100%
        border-radius: 14px
        @include image()
      
      .details
        position: absolute
        left: 50%
        top: 100%
        transform: translate(-50%, -50%)
        width: 90%
        padding: 1rem
        text-align: center
        border-radius: 17px
        background-color: $light
        box-shadow: 0 2px 10px rgba($dark, .1)
        @include trans()

        .name
          margin-bottom: 10px
          font-weight: 400

        .post
          font-style: italic
          font-weight: 400
          font-size: 14px
          color: #5B5B5B


/**********   demo   **********/
.demo
  @include grid($columns: 1fr 1fr)

  .title
    align-items: flex-start
    text-align: left
    margin-bottom: 2rem
    h1
      margin-bottom: .5rem
  
  .upload-section
    .drop-area 
      height: 320px
      width: 100%
      border: 3px dashed $pri
      @include flex($justify: center)
      flex-direction: column
      justify-content: space-evenly
      margin-bottom: 2rem

      &.active 
        border: 1px solid $pri

      p
        font-size: 14px
        color: #7a7a7a
        text-align: center
        font-weight: 300

      .button
        @include button()
        padding: .5rem 2rem
        font-size: 15px
        border-radius: 8px
        display: inline-block
        width: auto

      img 
        height: 100%
        width: 100%
        object-fit: cover
      
      .icon 
        height: 100px
        width: 100px
        @include flex($justify: center)

        img
          width: 100%

      .name 
        font-size: 24
        font-weight: 400

    .button
      @include button()
      border-radius: 8px
      width: 100%

  .output-section
    .bars
      .bar
        height: 47px
        width: 100%
        background-color: #E1E1E1
        @include flex($justify: space-between)
        padding: 0 1rem
        position: relative
        margin-bottom: 6px
        
        .name
          color: $light
          font-size: 18px
          font-weight: 500
          position: relative
          z-index: 2
          text-shadow: 0 1px 4px rgba($dark, .2)

        .percentage
          color: #636363
          font-size: 18px
          font-weight: 400
          position: relative
          z-index: 2
          // text-shadow: 0 1px 4px rgba($dark, .5)

        .indi
          position: absolute
          left: 0
          top: 0
          height: 100%
          width: 0
          background-color: $main
          z-index: 1
          @include trans()

/**********   registration   **********/
.registration
  @include grid($columns: 1fr 1fr)
  grid-gap: 30px
  background-color: $light
  padding: 3rem
  border-radius: 15px
  
  .form
    .group
      margin-bottom: 2rem

      label
        font-size: 18px
        color: $para
        margin-bottom: 10px
        padding-left: 5px

      input, textarea
        margin-top: 10px
        width: 100%
        border: 1px solid #bfbfbf
        border-radius: 7px
        height: 50px
        padding: 1rem
        font-size: 16px

      textarea
        height: 200px

    .checkbox
      @include flex($justify: flex-start)
      
      input
        height: 20px
        width: 20px
        margin-right: 8px

      label
        font-size: 16px
        color: $para

    button
      @include button()
      width: 100%
      margin-top: 2rem
      border-radius: 8px
      text-transform: uppercase

  .image
    height: 100%
    width: 100%
    overflow: hidden
    border-radius: 26px

    .img
      height: 100%
      width: 100%
      @include image()

/**********   blog-page   **********/
.blog-page
  .list
    @include grid($columns: 1fr 1fr)

    .item
      overflow: hidden
      border-radius: 15px
      background-color: $light
      box-shadow: 0 4px 22px rgba($dark, .1)

      &:hover
        .image
          .img
            border-radius: 15px
            transform: translateX(0) scale(1)

      .image
        border-radius: 15px
        height: 350px
        width: 100%
        overflow: hidden

        .img
          border-radius: 15px
          height: 100%
          width: 100%
          @include image()
          transform: translateX(-40px) scale(1.2)
          @include trans()

      .details
        padding: 1rem

        .name
          margin-bottom: 1rem

        button
          @include button()
          border-radius: 8px
          
/**********   pricing   **********/
.pricing
  .list
    @include grid($columns: 1fr 1fr 1fr)
    
    .item
      @include flex($justify: center)
      flex-direction: column
      color: $light
      background-color: $dark
      padding: 2rem 1rem
      transform: scale(.9)
      box-shadow: 0 8px 18px rgba($dark, .25)

      &.center
        transform: scale(1.1)
        background-color: $main

        h1
          color: $light

        .price
          h1
            color: $light
        
        button
          background-color: #fff
          border-color: $light

      .icon
        height: 100px
        width: 100px

        img
          width: 100%

      h1
        font-size: 34px
        text-transform: uppercase
        text-align: center
        margin: 2rem 0
        color: #4F9EFF

      ul
        li
          font-size: 24px
          font-weight: 300
          margin-bottom: 1.3rem

          span
            @include flex($justify: flex-start)

          strong
            padding: 0 5px

          i
            color: #51FC00
            font-size: 14px
            margin-right: 10px

          p
            font-size: 12px
            color: $light

      .price
        position: relative
        height: 77px
        margin: 1rem 0

        h1
          font-size: 64px
          color: #4F9EFF
          font-weight: 500
          line-height: 0

        .dollor
          position: absolute
          left: -20px
          top: 10px
          font-size: 24px
          color: $light

        .per-month
          position: absolute
          right: -40px
          bottom: 20px
          font-size: 12px
          color: $light

      button
        @include button()
        margin-top: 1rem

/**********   pricing   **********/
.customers-que
  margin-top: 7rem
  .title
    margin-bottom: 1.5rem

  .list
    @include flex($justify: center)
    flex-direction: column
    
    .item
      padding: .5rem 1.5rem
      background-color: $bg
      color: $dark
      border-radius: 9px
      cursor: pointer
      max-width: 1100px
      width: 100%
      margin-bottom: 1rem

      &.active
        padding-bottom: 1rem

        .question
          i
            transform: rotate(90deg)

        .answer
          padding: 1.3rem
          max-height: 1000px
          opacity: 1
          pointer-events: auto

      .question
        line-height: 3rem
        font-size: 20px
        font-weight: 600
        @include flex($justify: space-between)

        i
          font-size: 14px
          @include trans()
        
      .answer
        padding: 0 1.3rem
        max-height: 0
        opacity: 0
        pointer-events: none
        background-color: $light
        border-radius: 9px
        @include trans()

/**********   map   **********/
.map
  iframe
    height: 500px
    width: 100%

/**********   contact-page   **********/
.contact-page
  @include grid($columns: 1fr 2fr)

  h1
    font-size: 40px
    font-weight: 500
    max-width: 280px
  
  .contact-info
    background-image: linear-gradient(230deg, $main, $pri)
    padding: 1.5rem 2rem
    border-radius: 20px
    color: $light

    ul
      margin-top: 3rem
      li
        font-size: 20px
        margin-bottom: 1.5rem
        @include flex($justify: flex-start)
        font-weight: 300
        
        i
          margin-right: 7px
          font-size: 14px

  .contact-form
    .form
      @include grid($columns: 1fr 1fr)
      margin-top: 3rem
      
      .group
        position: relative
        height: 50px
        background-color: $bg
        border-radius: 14px
        margin-bottom: 1rem

        &:nth-last-child(2)
          grid-column: 1/3
          height: 200px

        label
          position: absolute
          left: 20px
          top: 0%
          transform: translateY(-50%)
          border-radius: 11px
          padding: .4rem 1rem
          background-color: $bg
          font-size: 14px
          color: $para

        input, textarea
          width: 100%
          height: 100%
          padding: 0 1rem
          font-size: 16px
          padding-top: 1rem

      button
        @include button()
        padding: .8rem 2rem
        border-radius: 8px

/**********   login-page   **********/
.login-page
  position: relative
  height: 100vh
  @include image()
  width: 100%
  @include flex($justify: center)
  padding: 0 20px

  &::after
    content: ''
    @include dark()
    background-color: rgba($dark, .56)
    z-index: 1
  
  .form
    max-width: 450px
    width: 100%
    background-color: rgba($light, .6)
    padding: 2rem
    border-radius: 18px
    position: relative
    z-index: 2

    .back-btn
      position: absolute
      right: 0
      top: -33px
      height: 30px
      width: 30px
      border-radius: 50%
      background-color: rgba($light, .6)
      @include flex($justify: center)
      cursor: pointer
      @include trans()

      &:hover
        transform: rotate(180deg)
      
      img
        width: 70%

    .icon
      position: absolute
      left: 50%
      top: 0
      transform: translate(-50%, -50%)
      height: 100px
      width: 100px
      border-radius: 50%
      background-color: $main
      @include flex($justify: center)
      
      img
        width: 50%

    h1
      font-weight: 300
      text-align: center
      font-size: 38px
      margin: 2.5rem 0 2rem

    .wizard
      max-width: 450px
      overflow: hidden

    .inner
      width: 300%
      display: flex

      .groups
        width: 33.33%
        @include trans()
        padding: 0 1px

      .btn-group
        @include flex($justify: space-between)

        button
          &:nth-child(1)
            margin-right: 10px

    .group
      width: 100%
      margin-bottom: 1.5rem

      label
        font-size: 16px
        font-weight: 400
        color: #4a4a4a

      input
        margin-top: 5px
        width: 100%
        border-radius: 10px
        height: 50px
        background-color: $light
        padding: 1rem
        font-size: 18px

    button
      @include button()
      height: 50px
      @include flex($justify: center)
      padding: 0
      text-align: center
      width: 100%
      text-transform: uppercase
      border-radius: 10px
      margin-bottom: .5rem

    .others
      @include flex($justify: space-between)
      
      .checkbox
        @include flex($justify: flex-start)

        input
          margin-right: 5px
          height: 20px
          width: 20px

        label
          font-weight: 400
          font-size: 16px
      
      h3
        font-size: 16px
        font-weight: 400
        color: $dark
      
    .dont-have-account
      text-align: center
      margin-top: 2rem
      font-size: 18px
      font-weight: 400

      a
        color: #005ac0
        
/**********   contact-page   **********/
.dashboard
  @include grid($columns: 1fr 3.5fr)

  .dashboard-side-nav
    padding: 1rem
    padding-left: 0
    border-right: 1px solid #ababab
    height: 100vh
    position: sticky
    top: 0

    .top-sec
      @include grid($columns: 20px 1fr)
      align-items: center

      .nav-open-btn
        .bars
          position: relative
          height: 15px
          width: 25px
          @include flex($justify: center)

          &:hover
            .bar
              &::after
                left: 10%
                top: 15%
                transform: translate(-50%, -50%) rotate(-45deg)
                width: 60%

              &::before
                left: 10%
                top: 85%
                transform: translate(-50%, -50%) rotate(45deg)
                width: 60%
          
          .bar
            height: 2px
            width: 100%
            background-color: $dark
            border-radius: 10px

            &::after
              content: ''
              position: absolute
              left: 0
              top: 0
              transform: translateY(-50%)
              height: 2px
              width: 100%
              background-color: $dark
              border-radius: 10px
              transition: .4s ease-in-out

            &::before
              content: ''
              position: absolute
              left: 0
              top: 100%
              transform: translateY(-50%)
              height: 2px
              width: 100%
              background-color: $dark
              border-radius: 10px
              transition: .4s ease-in-out

      .logo
        font-size: 30px

    .create
      padding: .3rem .5rem
      background-color: $main
      color: $light
      @include flex($justify: space-between)
      font-size: 18px
      border-radius: 8px
      margin: 2rem 0
      @include trans()
      cursor: pointer

      &:hover
        background-color: #3eafc0
        box-shadow: 0 2px 10px rgba($main, .7)

        img
          transform: rotate(90deg)
      
      img
        height: 35px
        width: 35px
        margin-right: 1rem
        @include trans()

    ul
      li
        padding-left: .8rem
        @include flex($justify: flex-start)
        line-height: 2rem
        border-left: 3px solid rgba($main, .0)
        margin-bottom: 1.5rem
        font-size: 18px
        cursor: pointer
        color: $para

        &.active
          color: $main
          border-left: 3px solid $main

          svg
            path
              fill: $main

        svg
          height: 25px
          width: 25px
          viewBox: 0 0 25px 25px
          margin-right: .8rem

          path
            fill: #848484

  .dashboard-details
    padding: 1rem 0

    .search
      width: 100%
      margin-bottom: 1.5rem

      .group
        position: relative
        height: 48px
        width: 100%
        border: 1px solid #ababab
        border-radius: 12px

        input
          width: 100%
          height: 100%
          padding: 1rem
          padding-left: 3rem
          font-size: 18px
          color: $para

        .icon
          position: absolute
          left: 10px
          top: 50%
          transform: translateY(-50%)
          height: 27px
          width: 27px

          img
            width: 100%

    .profile-section
      padding: 1rem
      box-shadow: 0 4px 22px rgba($dark, .1)
      border-radius: 30px
      @include grid($columns: 1fr 3fr 1fr)
      margin-bottom: 1.5rem

      .image
        width: 100%
        height: 190px
        @include image()
        border-radius: 27px

      .details
        @include flex($justify: space-between)
        align-items: flex-start
        flex-direction: column
        padding: .6rem 0
        border-right: 1px solid #bfbfbf

        .name
          margin-bottom: 5px

        h4
          font-size: 16px
          font-weight: 300
          margin-bottom: 1rem

        .btn-group, .follow
          @include flex($justify: flex-start)

          button
            @include button()
            font-size: 15px
            border-radius: 8px
            padding: .4rem 1rem
            margin-right: 10px

          .following, .followers
            font-size: 16px
            font-weight: 300
            margin-right: 1rem

      .competitions
        @include flex($justify: center)
        flex-direction: column

        .icon
          height: 94px
          width: 94px
          @include flex($justify: center)
          
          img
            width: 80%

        .name
          text-align: center
          color: $main

    .nav-btns
      @include flex($justify: flex-start)
      border-radius: 14px
      box-shadow: 0 4px 11px rgba($dark, .1)
      margin-bottom: 1.5rem
      
      li
        font-size: 17px
        color: $dark
        padding: 1rem 2rem
        border-radius: 14px
        cursor: pointer

        &.active
          background-color: $main
          color: $light

          span
            color: $light

          &:hover
            background-color: $main

        &:hover
          background-color: rgba($main, .1)

        span
          color: $para
          font-weight: 300

    .profile-list
      .profile
        @include grid($columns: 80px 1fr)
        margin-bottom: 1rem
        width: 100%
        border: 1px solid #bfbfbf
        padding: 1rem
        border-radius: 15px
        
        .image
          height: 80px
          width: 80px
          border-radius: 50%
          margin-right: 10px
          @include image()

        .details
          @include flex($justify: space-between)

          .name
            font-size: 18px
            color: $dark
          
          button
            @include button()
            border-radius: 10px

            &.friend
              border: 1px solid $para
              box-shadow: 0 0 0 3em $light inset
              color: $para

    .list
      @include grid($columns: 1fr 1fr 1fr)
      
      .item
        width: 100%
        border-radius: 28px
        box-shadow: 0 4px 10px rgba($dark, .1)

        .image
          height: 160px
          width: 100%
          @include image()
          border-radius: 28px

        .details
          padding: .7rem

          .name
            font-size: 20px
            margin-bottom: 5px

          h4
            font-size: 14px
            margin-bottom: 2rem
            color: $main
            font-weight: 400

          h3
            font-size: 14px
            font-weight: 400

        .item-footer
          @include grid($columns: 1fr 1fr 1fr)
          grid-gap: 0
          border-top: 1px solid #d0d0d0

          .tire
            @include flex($justify: center)
            text-align: center
            flex-direction: column
            padding: .4rem 0
            border-right: 1px solid #d0d0d0
            width: 100%
            color: $para

            &:nth-last-child(1)
              border-right: none
            
            img
              height: 20px
              width: 20px
              margin-bottom: 5px

/**********   career   **********/
.career
  .list
    .item
      @include flex($justify: space-between)
      background-color: rgba($main, .2)
      border-radius: 8px
      margin-bottom: 1rem

      .name
        font-size: 18px
        padding-left: 1.5rem
      
      button
        @include button()
        border-radius: 8px
        padding: 1rem 2rem

/**********   career   **********/
.research
  .list
    .item
      margin-bottom: 2rem

      .que
        font-size: 20px
        font-weight: 500
        margin-bottom: .5rem
      
      .ans
        font-size: 15px
        font-weight: 300
        
/**********   facial-recognition   **********/
.facial-recognition
  .title
    font-size: 30px
    margin-bottom: 2rem

  .details
    @include grid($columns: 1fr 1fr)

    p
      font-size: 18px
      font-weight: 400
      line-height: 2rem
    
/**********   detect   **********/
.detect
  .list
    @include grid($columns: 1fr 1fr)
    grid-gap: 50px
    
    .item
      @include grid($columns: 60px 1fr)
      grid-gap: 30px

      .icon
        height: 60px
        width: 60px
        @include flex($justify: center)
        
        img
          width: 100%

      .details
        padding: 0 1rem

        h3
          margin-bottom: 1rem

/**********   contact-our-expert   **********/
.contact-our-expert
  @include flex($justify: space-between)

  h1
    max-width: 600px
    width: 100%
    font-size: 40px
    color: $light

  button
    padding: 1rem 2rem
    font-size: 18px
    cursor: pointer
    text-transform: uppercase
    box-shadow: 0 0 0 3em $light inset
    border: 1px solid $light
    color: $pri
    transition: .4s
    
    &:hover
      box-shadow: 0 0 0 0em $light inset
      color: $light

/**********   face-recognition-and-detection   **********/
.face-recognition-and-detection
  .list
    @include grid($columns: 1fr 1fr 1fr)
    grid-gap: 50px
    align-items: flex-start

    .item
      @include flex($justify: center)
      flex-direction: column
      text-align: center

    .icon
      height: 70px
      width: 70px
      @include flex($justify: center)
      margin-bottom: 1rem

      img
        width: 100%

    .details
      h6
        font-size: 15px
        color: $main
        text-transform: uppercase
        margin-bottom: 10px

      h3
        font-size: 24px
        margin-bottom: 1rem

      p
        font-size: 16px
        line-height: 1.8rem

/**********   powerful-api-platform   **********/
.powerful-api-platform
  .list
    @include grid($columns: 1fr 1fr)
    align-items: flex-start
    
    .item
      .icon
        height: 100px
        width: 100px
        margin-bottom: 1rem

        img
          width: 100%

      h3
        font-size: 24px
        margin-bottom: 1rem

      button
        @include button()
        margin-top: 2rem

.project
  .title
    @include flex($justify: center)

    .image
      max-width: 300px
      width: 100%
      @include flex($justify: center)

      img
        width: 100%

  .details
    .name
      font-size: 28px
      margin-top: 2rem

    .other
      margin-left: 1rem
      margin-top: .5rem

      li
        line-height: 1.6rem

    p
      margin-top: 2rem

.video-recording
  button
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;

  button:last-of-type
    margin: 0;

  p.borderBelow
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;

  .video-area
    width: 25vw;
    background-color: rgba($main, .2)

    video
      transform: rotateY(180deg)
      border-radius: 10px
      position: relative
      z-index: 2

    .btn-group
      @include flex($justify: center)
      padding: 1rem
      width: var(--width)
      background-color: rgba($pri, .1)
      border-radius: 10px

      button
        height: 40px
        width: 40px
        border-radius: 50%
        background-color: $light
        box-shadow: 0 0 10px rgba($dark, .1)
        @include flex($justify: center)
        margin: 0 10px
        cursor: pointer
        
        span
          opacity: 0
          position: absolute
          pointer-events: none
        
        img
          width: 50%

        &#start
          box-shadow: 0 0 0 0em #00b150 inset
          transition: .4s

          .dark
            display: block

          .light
            display: none

          &.active
            box-shadow: 0 0 0 3em #00b150 inset

            .dark
              display: none

            .light
              display: block

        &#record
          position: relative

          .animate
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            height: 20px
            width: 20px
            background-color: rgba($dark, .1)
            border-radius: 50%
            z-index: -1

            &.active
              animation: zoom .4s infinite alternate

          &::after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            height: 85%
            width: 85%
            border-radius: 50%
            background-color: #961212
            transition: .4s
            z-index: 2

          &.active
            &::after
              height: 40%
              width: 40%
              border-radius: 4px

        &#play
          position: relative

          // &::before
          //   content: ''
          //   position: absolute
          //   top: 50%
          //   left: 50%
          //   transform: translate(-50%, -50%)
          //   height: 50%
          //   width: 40%
          //   background-color: #961212
          //   clip-path: polygon(0 0, 0% 100%, 100% 50%);
          //   transition: .4s

          // &::after
          //   content: ''
          //   position: absolute
          //   top: 50%
          //   left: 50%
          //   transform: translate(-50%, -50%)
          //   height: 50%
          //   width: 40%
          //   background-color: #961212
          //   clip-path: polygon(0 0, 0% 100%, 100% 50%);
          //   transition: .4s

          // &.active
          //   &::before
          //     left: 64%
          //     width: 15%
          //     clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
          //     border-radius: 10px
            
          //   &::after
          //     left: 36%
          //     width: 15%
          //     clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
          //     border-radius: 10px

  @keyframes zoom 
    from
      transform: translate(-50%, -50%) scale(0)

    to
      transform: translate(-50%, -50%) scale(3)
  

  video
    vertical-align: top;
    --width: 25vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);

  video:last-of-type
    margin: 0 0 20px 0;

  video#gumVideo
    margin: 0 20px 20px 0;

  #recorded
    margin-top: 2rem